---
boards:
  num: 6
  slots:
  - slot_id: 0
    boardname: "A123ABCD"
    status: "Normal"
    subtype0: ""
    subtype1: ""
    online_offline: ""
  - slot_id: 1
    boardname: "qwdqwd"
    status: ""
    subtype0: ""
    subtype1: ""
    online_offline: ""
  - slot_id: 2
    boardname: "A123ABCD"
    status: "Normal"
    subtype0: ""
    subtype1: ""
    online_offline: ""
  - slot_id: 3
    boardname: "A123ABCD"
    status: "Active_normal"
    subtype0: "CPCF"
    subtype1: ""
    online_offline: ""
  - slot_id: 4
    boardname: "A123ABCD"
    status: "Standby_failed"
    subtype0: "CPCF"
    subtype1: ""
    online_offline: "Offline"
  - slot_id: 5
    boardname: ""
    status: ""
    subtype0: ""
    subtype1: ""
    online_offline: ""