                                                                          Address 
Interface       IP Address        Status       Protocol            MTU    Owner   
--------------- ----------------- ------------ -------------- ----------- ------- 
Ethernet1       10.0.1.4/24       up           up                 9200            
Loopback1       1.1.1.1/24        up           up                65535            
Loopback2       2.2.2.2/24        up           up                65535            
Loopback3       1.2.3.4/24        up           up                65535            
