cEOSLab
Hardware version: 
Serial number: 
Hardware MAC address: 0242.0af6.c8a5
System MAC address: 0242.0af6.c8a5

Software image version: 4.26.0F-21792469.4260F (engineering build)
Architecture: i686
Internal build version: 4.26.0F-21792469.4260F
Internal build ID: c5b41f65-54cd-44b1-b576-b5c48700ee19

cEOS tools version: 1.1
Kernel version: 3.10.0-1160.21.1.el7.x86_64

Uptime: 0 weeks, 0 days, 0 hours and 8 minutes
Total memory: 4918832 kB
Free memory: 1816320 kB