  Adding a DBA profile succeeded                                                
  Profile ID  : {{ profile_id }}                                                              
  Profile name: {{ profile_name}}                                                  
   