  ---------------------------------------------------------------------------
  {{ titles.0 }}                                   {{ titles.1 }}     {{ titles.2 }}
  ---------------------------------------------------------------------------
  {% for service in services -%}
  {{ service.network_service }}                                   {{ service.port }}     {{ service.state }}
  {% endfor -%}
  ---------------------------------------------------------------------------