  -----------------------------------------------------------------------------
  F/S/P                   : {{ fsp }}
  ONT-ID                  : {{ ont_id}}
  Control flag            : {{ control_flag }}
  Run state               : {{ run_state }}
  Config state            : {{ config_state }}
  Match state             : {{ match_state }}
  ONT LLID                : {{ llid or '-' }}
  ONT distance(m)         : {{ distance_m or '-' }}
  ONT last distance(m)    : {{ last_distance_m or '-' }}
  ONT RTT(TQ)             : {{ rtt_tq or '-' }}
  Memory occupation       : {{ memory_occupation or '-' }}
  CPU occupation          : {{ cpu_occupation or '-' }}
  Temperature             : {{ temperature or '-' }}
  Authentic type          : {{ authentic_type or '-' }}
  MAC                     : {{ mac or '-' }}
  Management mode         : {{ management_mode or '-' }}
  Software work mode      : {{ software_work_mode or '-' }}
  Multicast mode          : {{ multicast_mode or '-' }}
  Description             : {{ description }}
  Last down cause         : {{ last_down_cause or '-' }}
  Last up time            : 2023-01-05 08:56:12+08:00
  Last down time          : 2023-01-05 08:55:28+08:00
  Last dying gasp time    : 2023-01-05 08:55:28+08:00
  ONT online duration     : 0 day(s), 0 hour(s), 3 minute(s), 0 second(s)
  Type D support          : {{ type_d_support }}
  Isolation state         : {{ isolation_state }}
  ONT NNI type            : {{ nni_type}}
  ONT actual NNI type     : {{ actual_nni_type  or '-' }}
  Last ONT actual NNI type: {{ last_actual_nni_type or '-' }}
  Interoperability-mode   : {{ interoperability_mode }}
  FEC upstream state      : {{ fec_upstream_state }}
  VS-ID                   : {{ vs_id }}
  VS name                 : {{ vs_name }}
  Global ONT-ID           : {{ global_ont_id }}
  Fiber route             : {{ Fiber_route or 'none'}}
  -----------------------------------------------------------------------------
  Line profile ID      : 8
  Line profile name    : line-profile_8
  -----------------------------------------------------------------------------
  Notes: * indicates configured by the discrete command
  -----------------------------------------------------------------------------
  FEC switch          :Disable
  Encrypt type        :off
  DBA Profile-ID      :8
  Traffic-table-index :6
  Traffic-table-name  :ip-traffic-table_6
  TR069 IP index      :0
  Dba-threshold       :
  -----------------------------------------------------------------------------
  Queue-set-index  Q1    Q2    Q3    Q4    Q5    Q6    Q7    Q8
  -----------------------------------------------------------------------------
    1                -     -     -     -     -     -     -     -
    2                -     -     -     -     -     -     -     -
    3                -     -     -     -     -     -     -     -
  -----------------------------------------------------------------------------
  Service profile ID   : 8
  Service profile name : srv-profile_8
  -----------------------------------------------------------------------------
  Port-type     Port-number     Max-adaptive-number
  -----------------------------------------------------------------------------
  POTS          2               -
  ETH           24              -
  TDM           0               -
  -----------------------------------------------------------------------------
  TDM port type                          : E1
  Multicast fast leave switch            : Unconcern
  Ring check switch                      : Unconcern
  Ring port auto-shutdown switch         : Unconcern
  -----------------------------------------------------------------------------
  Port Port    Up-traffic Down-traffic MAC-learn Class
  Type ID      CAR-ID     CAR-ID       count     profile-ID
  -----------------------------------------------------------------------------
  ETH  1       Unconcern  Unconcern    Unlimited -
  ETH  2       Unconcern  Unconcern    Unlimited -
  ETH  3       Unconcern  Unconcern    Unlimited -
  ETH  4       Unconcern  Unconcern    Unlimited -
  ETH  5       Unconcern  Unconcern    Unlimited -
  ETH  6       Unconcern  Unconcern    Unlimited -
  ETH  7       Unconcern  Unconcern    Unlimited -
  ETH  8       Unconcern  Unconcern    Unlimited -
  -----------------------------------------------------------------------------
  Notes: * indicates the discretely configured traffic profile,
         run the display traffic table ip command to query
         traffic table configuration.
  -----------------------------------------------------------------------------
  Port Port-ID Multicast-S-VLAN Multicast-C-VLAN Multicast   Multicast
  Type                                           tag-strip   group-num
  -----------------------------------------------------------------------------
  ETH  1       -                -                Tag         Unlimited
  ETH  2       -                -                Tag         Unlimited
  ETH  3       -                -                Tag         Unlimited
  ETH  4       -                -                Tag         Unlimited
  ETH  5       -                -                Tag         Unlimited
  ETH  6       -                -                Tag         Unlimited
  ETH  7       -                -                Tag         Unlimited
  ETH  8       -                -                Tag         Unlimited
  -----------------------------------------------------------------------------
  Port-Type Port-ID Service-type Index S-VLAN C-VLAN
  -----------------------------------------------------------------------------
  ETH       1       -            -     -      -
  ETH       2       -            -     -      -
  ETH       3       -            -     -      -
  ETH       4       -            -     -      -
  ETH       5       -            -     -      -
  ETH       6       -            -     -      -
  ETH       7       -            -     -      -
  ETH       8       -            -     -      -
  -----------------------------------------------------------------------------
  Alarm policy profile ID      : 0
  Alarm policy profile name    : alarm-policy_0
  -----------------------------------------------------------------------------
  Group-ID             : 1
  Role                 : work
  Member state         : active
  -----------------------------------------------------------------------------
  Group-peer-member info
  -----------------------------------------------------------------------------
  F/S/P                   : 0/3/7
  ONT-ID                  : 0
  Run state               : offline
  Config state            : initial
  Match state             : initial
  ONT LLID                : -
  ONT distance(m)         : -
  ONT last distance(m)    : -
  ONT RTT(TQ)             : -
  Isolation state         : normal
  Last down cause         : -
  Last up time            : -
  Last down time          : -
  ONT online duration     : -
  -----------------------------------------------------------------------------