  -------------------------------------------------------------------------
  {% for title in titles -%}{{ title }}  {% endfor %}
  -------------------------------------------------------------------------
  {% for board in boards -%}
  {{ board.slotid }}  {{ board.boardname }}  {{ board.status }}  {{ board.subtype0 }} {{ board.subtype1}}   {{ board.online_offline }}
  {% endfor -%}
  -------------------------------------------------------------------------