  ----------------------------------------------------------------------------  
  Profile-name :            {{ profile_name }}
  Profile-ID:               {{ profile_id }}
  type:                     {{ type }}
  Bandwidth compensation:   {{ bandwidth_compensation }}
  Fix-delay:                {{ fix_delay }}
  Fix(kbps):                {{ fix_kbps }}
  Assure(kbps):             {{ assure_kbps }}
  Max(kbps):                {{ max_kbps }}
  Additional-bandwidth:     {{ additional_bandwidth }}
  Best-effort-priority:     {{ best_effort_priority }}
  Best-effort-weight:       {{ best_effort_weight }}
  bind-times:               {{ bind_times }}
  ----------------------------------------------------------------------------