name: Documentation
on:
  push:
    branches:
      - master
      - dev
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/configure-pages@v5
      - uses: actions/checkout@v5
      - name: "Install uv"
        uses: "astral-sh/setup-uv@v7"
        with:
          version: "0.9.8"
          activate-environment: true
          python-version: "3.13"
      - run: zensical build --clean 
      - uses: actions/upload-pages-artifact@v4
        with:
          path: site
      - uses: actions/deploy-pages@v4