name: docs
on:
  push:
    branches:
      - master
      - dev
permissions:
  contents: write
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Configure Git Credentials
        run: |
            git config user.name github-actions[bot]
            git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: "Install uv"
        uses: "astral-sh/setup-uv@v7"
        with:
          version: "0.9.8"
          activate-environment: true
          python-version: "3.13"
      - name: "Cache"
        uses: "actions/cache@v4"
        id: "cached-uv"
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ".cache"
          restore-keys: |
            mkdocs-material-
      - run: uv run mkdocs gh-deploy --force